/* Анимация*/
@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-48px);
            transform: translateX(-48px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
            transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
            transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
            transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
/* Шрифты*/
html {
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
section {
  padding: 7rem 0;
}
/* Header */
.header {
  padding: 2rem 0;
  height: 7rem;
}
.header img {
  width: 10rem;
  height: 10rem;
}
.header-agency {
  font-size: 2rem;
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  color: white;
}
.header-name {
  font-size: 2.5rem;
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  color: white;
}
.flex {
  /*центрирование*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main {
  padding: 3rem 0 1rem;
  background: #ffffff url(../img/main-bg.jpg) center top no-repeat;
  background-size: cover;
}
.main-content {
  padding: 8rem 0;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 1.5;
  font-family: 'Lora', serif;
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-tagline {
  font-family: 'Lora', serif;
  display: inline-block;
  padding: 3rem;
  background-color: rgba(185, 70, 70, 0.5);
  font-size: 1.8rem;
  border: none;
  border-radius: 0.9rem;
  color: white;
  margin-top: 1rem;
  text-align: center;
}
.main-tagline strong {
  font-size: 3rem;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  border-radius: 5px;
}
.main-form h2 {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.7rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.main-form label {
  position: absolute;
  /*наложение друг на друга*/
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /*!!!*/
  padding: 0.5rem;
  background-color: white;
}
.main-form-btn {
  -webkit-animation: bounce-left 1.2s both;
  animation: bounce-left 1.2s both;
}
.button {
  position: relative;
  display: inline-block;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e60000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.phone-link {
  display: inline-block;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 900;
  font-size: 1.8rem;
  height: 6rem;
  line-height: 6rem;
  text-align: right;
}
.phone-link:hover {
  text-decoration: none;
  color: white;
}
/* Преимущества */
.features {
  padding-bottom: 4rem;
  background-color: white;
  z-index: 1;
}
.features-header {
  margin: 2rem 0 5rem;
  font-family: 'Lora', serif;
  font-size: 3rem;
  text-align: center;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.features-img {
  height: 8rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/features/right.svg) center no-repeat;
  background-size: 70%;
}
/* Всплывающие окна*/
.box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.box-content {
  position: fixed;
  right: 50%;
  top: 10%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 4rem 6rem;
  background: white;
  text-align: center;
}
.box-form {
  margin-top: 3rem;
  padding: 0;
}
.box-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  color: white;
}
.box-header {
  font-family: 'Lora', serif;
}
/*Feedback*/
.feedback {
  background-size: cover;
  padding-top: 4rem;
  background: white;
}
.feedback h2 {
  font-family: 'Lora', serif;
  text-align: center;
  margin: 3rem;
  padding-bottom: 2rem;
}
.carousel-item {
  display: block;
  border: 1px solid #cfd8dc;
  background: white;
  font-size: 23px;
  padding: 2rem 3rem;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#84c7f1), color-stop(18%, rgba(118, 190, 239, 0.97)), color-stop(20%, #75bdef), color-stop(65%, #52a8eb));
  background: linear-gradient(to right, #84c7f1 0%, rgba(118, 190, 239, 0.97) 18%, #75bdef 20%, #52a8eb 65%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  border-radius: 1rem;
  min-height: 25rem;
  overflow-wrap: break-word;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(26, 20, 26, 0.72);
          box-shadow: 0px 0px 5px -1px rgba(26, 20, 26, 0.72);
}
.carousel-item span {
  font-family: 'Lora', serif;
}
.carousel-item img {
  width: 3rem;
  height: 3rem;
  vertical-align: top;
}
.carousel-item p {
  font-family: 'Lora', serif;
  text-align: justify;
  font-size: 1.5rem;
  margin: 2rem 0;
  text-indent: 3%;
}
/* callback */
.callback {
  padding: 0 0;
  background: url(../img/callback-bg.jpg) center no-repeat;
  background-size: cover;
}
.callback-title {
  padding: 5rem;
  font-family: sans-serif;
  font-size: 3rem;
  color: white;
}
.callback-form {
  padding: 2rem;
}
.callback-form input {
  width: 100%%;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
}
.callback-btn {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
}
.callback-btn p {
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
/*Контакты*/
.contacts {
  padding: 4rem 0;
  margin-bottom: 15rem;
  background-color: white;
}
.contacts h3 {
  font-family: 'Lora', serif;
  font-size: 2rem;
}
.contacts p {
  font-family: 'Lora', serif;
  padding-top: 2rem;
  font-size: 1.5rem;
}
/* Футер */
.footer {
  border-top: 1px solid grey;
  background-color: #63615a;
  padding: 1rem 0 3rem;
  position: fixed;
  width: 100%;
  height: 15rem;
  bottom: 0;
  z-index: -1;
}
.footer h2 {
  padding-bottom: 2rem;
}
.footer-social a {
  margin: 0 1rem;
}
/* Медиа */
@media (max-width: 1025px) {
  .main-content {
    padding-bottom: 5rem;
  }
  .header-agency,
  .header-name {
    margin-left: 2rem;
  }
  .features {
    padding-top: 5rem;
  }
  .features-header {
    margin-bottom: 5rem;
  }
}
@media (max-width: 991px) {
  /*если ширина экрана меньше 991 пк*/
  .main {
    background-position: top left;
    /*фон подгоняем под новый размер*/
  }
  .main-title {
    text-align: center;
    padding-bottom: 2rem;
  }
  .main-content {
    padding-top: 8rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
  .box-content {
    width: 50%;
  }
  .header {
    height: 12rem;
  }
  .header img {
    width: 8rem;
    height: 8rem;
  }
  .features-header {
    margin-bottom: 3rem;
  }
  .callback-title {
    padding-bottom: 0;
  }
  .info {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .header-btn {
    /*выравниваниекнопки по центру*/
    display: inline-block;
    text-align: center;
  }
  .box-content {
    padding: 3rem 1rem;
    width: 70%;
  }
  .main {
    text-align: center;
  }
  .main-content {
    padding-top: 16rem;
  }
  .phone-link {
    font-size: 1.3rem;
  }
  .header {
    height: 15rem;
  }
  .header-btn {
    position: absolute;
    -webkit-transform: translate(-50%, 20%);
            transform: translate(-50%, 20%);
  }
  .header img {
    width: 6rem;
    height: 6rem;
  }
  .features-header {
    margin-bottom: 3rem;
  }
  .callback-title {
    font-size: 2rem;
  }
}
