/* Анимация*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* Шрифты*/
.pacifico {
  font-family: 'Pacifico', cursive;
}
.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
}
.mobile-menu__btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}
.mobile-menu__icon {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
.mobile-menu__icon::after,
.mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}
.mobile-menu__icon::after {
  top: 8px;
}
.mobile-menu__icon::before {
  top: -8px;
}
.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
  background-color: #364961;
}
.mobile-menu__list {
  -webkit-transition: .5s;
  transition: .5s;
  list-style: none;
  padding-left: 0;
  padding-top: 1rem;
}
.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}
.mobile-menu__link:hover {
  text-decoration: none;
  color: #fff;
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 50%;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
html {
  font-size: 10px;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
section {
  padding: 5rem 0;
}
/* Header */
.header-grid {
  display: grid;
  grid-template-areas: "btn" "social";
  grid-template-rows: 65% 30%;
}
.header {
  padding: 0 1rem;
  height: auto;
  background-color: rgba(6, 60, 87, 0.5);
}
.header-btn {
  padding: 1rem;
  position: relative;
  display: inline-block;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-bottom: 1rem;
  grid-area: btn;
}
.header-btn:hover {
  cursor: pointer;
  background-color: #e60000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header img {
  width: 8rem;
  height: 8rem;
}
.header-agency {
  font-size: 1.7rem;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  color: #fff;
}
.header-name {
  font-size: 2rem;
  display: block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  color: #fff;
}
.header-nav {
  list-style: none;
  display: inline-block;
}
.header-nav li {
  float: left;
}
.header-nav li a {
  display: block;
  padding: 1rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  position: relative;
}
.header-nav li a:hover {
  text-decoration: none;
}
.header-nav li a::before {
  content: '';
  bottom: 0;
  right: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 10px;
}
.header-nav li a:hover:before {
  width: 100%;
  left: 0;
}
.social,
.footer-social {
  grid-area: social;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.social a,
.footer-social a {
  display: inline-block;
  padding: 0 5px;
}
.social a img,
.footer-social a img {
  height: 2.5rem;
  width: 2.5rem;
}
.flex {
  /*центрирование*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-title {
  -webkit-animation: fadeInLeft 1s both;
  animation: fadeInLeft 1s both;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.animate {
  -webkit-animation: fadeInRight 0.8s both;
  animation: fadeInRight 0.8s both;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.main {
  padding: 0 0 1rem;
  /*background: #fff url(../img/main-bg.jpg) center top no-repeat;*/
  background-size: cover;
  height: 100vh;
}
.main-content {
  padding: 3rem 0;
}
.main-content h1 {
  margin-top: 0;
  line-height: 1.5;
  font-family: 'Lora', serif;
  color: #fff;
  font-size: 4rem;
  text-transform: uppercase;
}
.main-tagline {
  font-family: 'Lora', serif;
  display: inline-block;
  padding: 3rem;
  background-color: rgba(185, 70, 70, 0.5);
  font-size: 1.8rem;
  border: none;
  border-radius: 0.9rem;
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}
.main-tagline strong {
  font-size: 3rem;
}
.main-form {
  background-color: #ffffff;
  padding: 4rem 5rem;
  text-align: center;
  border-radius: 5px;
}
.main-form h2 {
  margin-bottom: 4rem;
  font-size: 1.8rem;
}
.main-form-input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  padding: 1.7rem;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.main-form label {
  position: absolute;
  /*наложение друг на друга*/
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  /*!!!*/
  padding: 0.5rem;
  background-color: #fff;
}
.search {
  padding: 0;
  background-color: #fff;
  border-radius: 10px;
}
.button {
  position: relative;
  display: inline-block;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e60000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.phone-link {
  display: inline-block;
  color: #fff;
  font-family: 'Lora', serif;
  font-weight: 900;
  font-size: 1.8rem;
  height: 6rem;
  line-height: 6rem;
  text-align: right;
}
.phone-link:hover {
  text-decoration: none;
  color: #fff;
}
/* Преимущества */
.features {
  padding-bottom: 4rem;
  background-color: #fff;
  z-index: 1;
}
.features-header {
  margin: 2rem 0 5rem;
  font-family: 'Lora', serif;
  font-size: 3rem;
  text-align: center;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.features-img {
  height: 8rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/features/left.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/features/right.svg) center no-repeat;
  background-size: 70%;
}
/* Всплывающие окна*/
.box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.box-content {
  position: fixed;
  right: 50%;
  top: 10%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 4rem 6rem;
  background: #fff;
  text-align: center;
}
.box-form {
  margin-top: 3rem;
  padding: 0;
}
.box-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2.5rem;
  color: #fff;
}
.box-header {
  font-family: 'Lora', serif;
}
/*Feedback*/
.feedback {
  background-size: cover;
  padding-top: 4rem;
  background: white;
}
.feedback h2 {
  font-family: 'Lora', serif;
  text-align: center;
  margin: 3rem;
  padding-bottom: 2rem;
}
.carousel-item {
  display: block;
  border: 1px solid #cfd8dc;
  background: white;
  font-size: 23px;
  padding: 2rem 3rem;
  text-align: center;
  background: linear-gradient(45deg, #14e19d 0%, rgba(20, 225, 157, 0) 70%), linear-gradient(135deg, #12cdde 10%, rgba(18, 205, 222, 0) 80%), linear-gradient(225deg, #16e9a3 10%, rgba(22, 233, 163, 0) 80%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: grab;
  position: relative;
  border-radius: 1rem;
  min-height: 25rem;
  overflow-wrap: break-word;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(26, 20, 26, 0.72);
          box-shadow: 0px 0px 5px -1px rgba(26, 20, 26, 0.72);
}
.carousel-item span {
  font-family: 'Lora', serif;
}
.carousel-item img {
  width: 3rem;
  height: 3rem;
  vertical-align: top;
}
.carousel-item p {
  font-family: 'Lora', serif;
  text-align: justify;
  font-size: 1.5rem;
  margin: 2rem 0;
  text-indent: 3%;
}
/* callback */
.callback {
  padding: 0 0;
  background: url(../img/callback-bg.jpg) center no-repeat;
  background-size: cover;
}
.callback-title {
  padding: 5rem;
  font-family: sans-serif;
  font-size: 3rem;
  color: white;
}
.callback-form {
  padding: 2rem;
}
.callback-form input {
  width: 100%%;
  height: 100%;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
}
.callback-btn {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
}
.callback-btn p {
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
/*Контакты*/
.contacts {
  padding: 4rem 0;
  margin-bottom: 15rem;
  background-color: white;
}
.contacts h3 {
  font-family: 'Lora', serif;
  font-size: 2rem;
}
.contacts p {
  font-family: 'Lora', serif;
  padding-top: 2rem;
  font-size: 1.5rem;
}
/* Футер */
.footer {
  border-top: 1px solid #9a9a9a;
  background-color: grey;
  padding: 0 2rem 0 2rem;
  display: grid;
  grid-template-areas: "logo name footer-nav footer-social";
  grid-template-columns: 6% 1fr 1fr 1fr;
  grid-column-start: 2;
  min-height: 150px;
}
.footer-logo {
  grid-area: logo;
}
.footer-logo img {
  width: 60px;
  height: 60px;
}
.footer-name {
  grid-area: name;
}
.footer-name span {
  display: block;
  font-size: 2rem;
  color: #fff;
  font-family: 'Lora', serif;
}
.footer-nav {
  grid-area: footer-nav;
}
.footer-nav ul {
  list-style: none;
}
.footer-nav ul a {
  color: #fff;
  text-decoration: none;
}
.footer-social {
  grid-area: footer-social;
}
.footer h2 {
  padding-bottom: 2rem;
}
.footer-social a {
  margin: 0 1rem;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aligh-items: center;
  padding: 0;
}
.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: grey;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.slider-item:hover {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.slider-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.slider-item a span {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  text-shadow: 0px 0px 10px #000;
}
.slider-item-1 {
  background: url(../img/egypt.jpg) center no-repeat;
  background-size: cover;
}
.slider-item-2 {
  background: url(../img/turkey.jpg) center center no-repeat;
  background-size: cover;
}
.slider-item-3 {
  background: url(../img/hungary.jpg) center center no-repeat;
  background-size: cover;
}
.slider-item-4 {
  background: url(../img/france.jpg) center center no-repeat;
  background-size: cover;
}
/* Медиа */
@media (max-width: 1025px) {
  .main-content {
    padding-bottom: 5rem;
  }
  .header-agency,
  .header-name {
    margin-left: 1.4rem;
    font-size: 1.3rem;
  }
  .features {
    padding-top: 5rem;
  }
  .features-header {
    margin-bottom: 5rem;
  }
}
@media (max-width: 991px) {
  /*если ширина экрана меньше 991 пк*/
  .main {
    background-position: top left;
    /*фон подгоняем под новый размер*/
  }
  .header-btn {
    height: 100%;
  }
  .main-title {
    text-align: center;
    padding-bottom: 2rem;
  }
  .header-social {
    display: inline;
  }
  .contacts {
    margin-bottom: 0;
  }
  .footer {
    position: relative;
    z-index: 1;
  }
  .header-agency,
  .header-name {
    font-size: 1.2rem;
  }
  .social {
    width: auto;
  }
  .social a {
    margin-left: auto;
    margin-right: auto;
  }
  .main-content {
    padding-top: 2rem;
  }
  .box-content {
    width: 50%;
  }
  .header img {
    width: 6rem;
    height: 6rem;
  }
  .features-header {
    margin-bottom: 3rem;
  }
  .callback-title {
    padding-bottom: 0;
  }
  .info {
    text-align: center;
  }
  .header-grid {
    grid-template-areas: "btn social";
  }
}
@media (max-width: 767px) {
  .header-grid {
    padding-top: 1rem;
    grid-template-areas: "btn social";
    grid-template-columns: 1fr 1fr;
  }
  .slider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    height: 75vh;
  }
  .slider-item {
    width: 100%;
  }
  .slider-item:hover {
    -webkit-box-flex: 30%;
        -ms-flex-positive: 30%;
            flex-grow: 30%;
  }
  .slider-item a {
    height: auto;
    width: auto;
  }
  .header-social {
    display: inline;
  }
  .social {
    display: inline-block;
    width: auto;
  }
  .box-content {
    padding: 3rem 1rem;
    width: 70%;
  }
  .main-form {
    margin-top: 3rem;
  }
  .main {
    text-align: center;
  }
  .phone-link {
    font-size: 1.3rem;
  }
  .header img {
    width: 6rem;
    height: 6rem;
  }
  .features-header {
    margin-bottom: 3rem;
  }
  .callback-title {
    font-size: 2rem;
  }
}
