html {
  font-size: 10px;
}
button, input, a, textarea {
  &:focus {
    outline: none;
  }
}
section {
  padding: 5rem 0;
}

                              /* Шрифты*/
.lora() {
  font-family: 'Lora', serif;
  }
.montserrat() {
  font-family: 'Montserrat', sans-serif;
}
.pacifico {
  font-family: 'Pacifico',cursive;
}
                        /*мобильная навигация*/
.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 9999999;
}
.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}
.mobile-menu__icon {
  display: block;
  position: relative;
  background: #00CED1;
  width: 90%;
  height: 4px;
  transition: .4s;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: #00CED1;
  width: 100%;
  height: 4px;
  transition: .4s;
}
.mobile-menu__icon::after {
  top: 8px;
}
.mobile-menu__icon::before {
  top: -8px;
}
.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 54px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  background-color: #364961;
}
.mobile-menu__list {
  transition: .5s;
  list-style: none;
  padding-left: 0;
  top: 54px;
  padding-top: 1rem;
}
.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 90%;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
                            /* Xmas*/
/*.slider-item-1 {
  background: url(../img/egypt-xmas.jpg) center no-repeat !important;
}
.slider-item-2 {
  background: url(../img/turkey-xmas.jpg) center no-repeat !important;
}
.slider-item-3 {
  background: url(../img/hungary-xmas.jpg) center no-repeat !important;
}
.slider-item-4 {
  background: url(../img/france-xmas.jpg) center no-repeat !important;
}
.new_f-wrapper-bg-imgs {
  background: url(../img/snowflake.svg) no-repeat left 25px top 83%, url(../img/snowflake-2.svg) no-repeat right 15px top 2%, url(../img/snowflake.svg) no-repeat left 39% top 4% !important;
  background-size: 48px !important;
}*/

                                      /* Header */
.language {
  display: inline-block;
}
.slider {
  display: flex;
  justify-content: center;
  aligh-items: center;
  padding: 0;
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-basis: 25%;
    background-color: grey;
    transition: all 0.5s;
    &:hover {
      flex-basis: 100%;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-decoration: none;
      width: 100%;
      height: 100%;
      span {
        .pacifico();
        font-size: 2.5rem;
        text-shadow: 0px 0px 10px #000;
      }
    }
  }
  &-item-1 {
    background: url(../img/egypt.jpg) center no-repeat;
    background-size: cover;
  }
  &-item-2 {
    background: url(../img/turkey.jpg) center center no-repeat;
    background-size: cover;
  }
  &-item-3 {
    background: url(../img/hungary.jpg) center center no-repeat;
    background-size: cover;
  }
  &-item-4 {
    background: url(../img/france.jpg) center center no-repeat;
    background-size: cover;
  }
}
.header-grid {
  display: grid;
  grid-template-areas:
  "btn"
  "social";
  grid-template-rows: 65% 30%;
}
.header {
  padding: 0 1rem;
  height: auto;
  background-color: #fff;
  a {
    text-decoration: none;
  }
  &-logo {
    margin: 0.5rem 0;
  }
  &-btn {
    padding: 1rem;
    position: relative;
    display: inline-block;
    background-color: red;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.2s;
    margin-bottom: 1rem;
    grid-area: btn;
    &:hover {
      cursor: pointer;
      background-color: darken(red,5%);
      transition: all 0.5s;
    }
  }
  &-img {
    width: 8rem;
    height: 8rem;
    }
    &-name {
      height: 7rem;
    }
    &-nav {
      list-style: none;
      display: inline-block;
      li {
          float: left;
          a {
            display: block;
            padding: 1rem;
            color: #000;
            .montserrat();
            font-size: 1.6rem;
            position:relative;
          }
          a:hover {
            text-decoration: none;
          }
          a::before {
            content: '';
            bottom: 0;
            right: 0;
            position:absolute;
            width: 0%;
            height: 2px;
            background-color: #00CED1;
            transition: 0.3s;
            margin-bottom: 10px;
          }
          a:hover:before {
            width: 100%;
            left: 0;
          }
      }
    }
  }
.social, .footer-social {
  grid-area: social;
  display: flex;
  justify-content: center;
  width: 100%;
  a {
    display: inline-block;
    padding: 0 5px;
    img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}

.flex {/*центрирование*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.main {
  padding: 0 0 1rem;
  background-size: cover;
  &-content {
    padding: 3rem 0;
    }
    &-form {
      background-color: rgb(255, 255, 255);
      padding: 4rem 5rem;
      text-align: center;
      border-radius: 5px;
      h2 {
        margin-bottom: 4rem;
        font-size: 1.8rem;
      }
      &-input {
        display: block;
        margin: 2rem 0;
        width: 100%;
        padding: 1.7rem;
        border: 1px solid #dddddd;
        border-radius: 5px;
        font-size: 1.7rem;
      }
      label {
        position: absolute;/*наложение друг на друга*/
        left: 50%;
        transform: translateX(-50%) translateY(-50%);/*!!!*/
        padding: 0.5rem;
        background-color: #fff;
        }
    }
}
.search {
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
}
.button {
  position: relative;
  display: inline-block;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    background-color: darken(red,5%);
    transition: all 0.5s;
  }
}
                            /* Преимущества */

.features {
  background: url(../img/features-bg.jpg) center center no-repeat;
  background-size: cover;
  text-align: center;
  font-style: 'Open sans', sans-serif;
  &-header {
    color: white;
    font-size: 3rem;
  }
  &-icon {
    img {
      height: 7.5rem;
      width: 7.5rem;
      padding-bottom: 1.5rem;
      font-weight: 600;
      transition: 0.6s ease;
    }
    }
  &-item:hover img {
    transform: rotateY(360deg);
    transition: transform 0.7s ease-in-out;
    }

  &-title {
    margin-bottom: 0.5rem;
    font-size: 2rem;

    color: #ed7278;
    font-weight: 400;
  }
  &-text {
    font-size: 1.4rem;
    color: white;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: 400;
  }
}

.hot {
  background-color: #f4f4f5;
  &-header {
    text-align: center;
    .montserrat();
    font-size: 2.5rem;
  }
}
.slick-item {
  margin: 1rem ;
  height: 25rem !important;
  position: relative;
  transition: 0.4s ease;
  will-change: transform;
  &:hover {
    box-shadow: 0px 10px 19px 8px rgba(66,56,66,0.2);
    transition: transform 0.5s ease-in-out;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25rem;
  }
  span {
    position: absolute;
    top: 0;
    left: 50;
    z-index: 100;
    .pacifico();
    font-size: 2.5rem;
    padding: 1rem;
  }
  p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 100;
    height: 20%;
    margin: 0;
    .lora();
    font-size: 1.5rem;
    background-color: rgba(55, 54, 110, 0.8);
    padding: 0 1rem;
    color: white;
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    z-index: 100;
    height: 20%;
    .lora();
    font-size: 1.5rem;
    background-color: red;
    color: white;
    border: none;
  }
  button:hover {
    background-color: darken(red, 15%);
  }
}

.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: -3%;
  background: url(../img/features/left.svg) center no-repeat;
  background-size: 70%;
  }
.next {
  right: -3%;
  background: url(../img/features/right.svg) center no-repeat;
  background-size: 70%;
}

                          /* Всплывающие окно*/
.box {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0,0, 0.5);
  &-content {
    position: fixed;
    right: 50%;
    top: 10%;
    transform: translateX(50%);
    padding: 4rem 6rem;
    background: #fff;
    text-align: center;
    }
  &-form {
    margin-top: 3rem;
    padding: 0;
  }
  &-close {
    position: absolute;
    top: -1.5rem;
    right: -2rem;
    width: 2rem;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 2.5rem;
    color: #fff;
  }
  &-header {
    .lora();
  }
}
                            /* callback */
.callback {
  padding: 0 0;
  background: url(../img/callback-bg.jpg) center no-repeat;
  background-size: cover;
  &-title {
    padding: 5rem;
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
  }
  &-form {
    padding: 2rem;
    input {
      width: 100%%;
      height: 100%;
      border-radius: 10px;
      border: none;
      font-size: 2rem;
    }
  }
  &-btn {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  p {
    .lora();
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0;
  }
}
}

                                /*Контакты*/
.contacts {
  padding: 4rem 0;
  background-color: white;
h3 {
  .lora();
  font-size: 2rem;
}
p {
  .lora();
  padding-top: 2rem;
  font-size: 1.5rem;
}
}

                                  /* Footer */
.operators {
  background-color: #2b3641;
  text-align: center;
  padding: 1rem 0;
    img {
      width: 80vw;
    }
  }
.footer {
  border-top: 1px solid lighten(#2b3641, 10%);
  background-color: lighten(#2b3641, 2%);
  padding: 2rem 2rem 1rem 2rem;
  display: grid;
  grid-template-areas: "logo name footer-nav empty footer-social";
  grid-template-columns: 6% 20% 45% 6% 1fr;
  min-height: 80px;
  &-logo {
    grid-area: logo;
    img {
      width: 60px;
      height: 60px;
    }
  }
  &-name {
    grid-area: name;
    img {
      height: 7rem;
    }
  }
  &-nav {
    grid-area: footer-nav;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        display: inline-block;
        float: left;
        font-size: 1.5rem;
        padding: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  &-social {
    grid-area: footer-social;
    display: block;
    text-align: center;
    &-link img {
      width: 40px;
      height: 40px;
    }
  }
  h2 {
    margin: 0;
    padding-bottom: 1rem;
  }

}
.otpusk {
    background-color: lighten(#2b3641, 2%);
    text-align: center;
    color: white;
    p {
      margin: 0;
    a {
      text-decoration: none;
      color: white;
    }
    }
}
                              /* Медиа */
@media (max-width: 1025px) {
  html {
    font-size: 9.5px;
  }
 .header-name {
    height: 5rem;
    }
 .features {
    padding-top: 5rem;
  }
  .features-header {
      margin-bottom: 5rem;
    }
}

@media(max-width: 991px) {/*если ширина экрана меньше 991 пк*/
  html {
    font-size: 9px;
  }
  .header-btn {
    height: 100%;
  }
  .slider-item a {
    height: auto;
    width: auto;
  }
  .header-social {
    display: inline;
  }
.contacts {
  margin-bottom: 0;
}
.footer {
  position: relative;
  z-index: 1;
}
.header-name {
  height: 5rem;
}
.social {
  width: auto;
  a {
    margin-left: auto;
    margin-right: auto;
    padding: 0 2px;
    }
  }
  .box-content {
    width: 50%;
  }
  .header-img {
    width: 6rem;
    height: 6rem;
  }
  .features-header {
    margin-bottom: 3rem;
  }
  .callback-title{
    padding-bottom: 0;
  }
  .info {
    text-align: center;
  }
  .header-grid {
    grid-template-areas: "btn social";
  }
  .footer {
    grid-template-columns: 10% 25% 45% 1fr;
  }
}
@media(max-width: 767px) {
  html {
    font-size: 8.5px;
    }
  .header-btn {
      font-size: 1rem;
    }
  .header-grid {
    padding-top: 1rem;
    grid-template-areas: "btn social";
    grid-template-columns: 40% 1fr;
    grid-template-rows: 1fr;
    padding-bottom: 1rem;
  }
  .slider {
    flex-flow: column;
    height: 75vh;
    &-item {
      width: 100%;
      &:hover {
        flex-grow: 30%;
      }
      a {
        height: auto;
        width: auto;
      }
    }
  }
  .header-social {
    display: inline;
  }
  .social {
    display: inline-block;
    width: auto;
  }
  .box-content {
    padding: 3rem 1rem;
    width: 70%;
  }
  .header-img {
    width: 6rem;
    height: 6rem;
  }
  .features-header {
    margin-bottom: 3rem;
  }
  .callback-title {
    font-size: 2rem;
  }
  .social a img {
    height: 3.5rem;
  }
  .footer {
    grid-template-areas: "footer-nav footer-social logo name";
    grid-template-columns: 20% 25% 10% 1fr;
    grid-column-gap: 3%;
    padding: 1rem;
    &-nav ul {
        display: block;
        li {
          padding: 0 1rem;
        }
    }
    &-logo {
      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}
@media (max-width: 616px) {
  .header-btn {
    font-size: 1rem;
    padding: 0;
  }
  .social-icon img {
    height: 3.5rem;
    width: 2.5rem;
  }
  .footer {
    grid-template-areas: "footer-nav footer-social name";
    grid-template-columns: 25% 1fr 25%;
    &-logo {
      display: none;
    }
    &-name img {
      height: 4rem;
      width: 82px;
      padding-top: 1rem;
    }
    &-nav ul {
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        font-size: 1.2rem;
      }
    }
  }
}
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .slider {
      flex-flow: column;
      height: 75vh;
      &-item {
        width: 100%;
        &:hover {
          flex-grow: 30%;
        }
        a {
          height: auto;
          width: auto;
        }
      }
    }
}
